Fala, {{ ownerName }}, beleza?

Há uma nova inscrição no seu meetup {{ title }}. Confira os detalhes abaixo:

  Nome: {{ name }}
  Email: {{ email }}

  Para mais informações, entre no aplicativo MeetApp.


Equipe MeetApp
