<strong>Fala, {{ ownerName }}, beleza?</strong>

<p>Há uma nova inscrição no seu meetup {{ title }}. Confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong>{{ name }} <br />
  <strong>Email: </strong>{{ email }} <br />
  <br />
  <small>Para mais informações, entre no aplicativo MeetApp.</small>
</p>

<br />
<strong>Equipe MeetApp</strong>
